<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.ssm.dao.EmpDao">
    <!--分页查询-->
    <select id="getPage" resultType="map">
        select * from
        (select rownum rn,t.* from emp t where rownum  &lt; #{end}) a
        where a.rn &gt; #{start}
    </select>
    <!--分页总数量-->
    <select id="getPageCount" resultType="int">
         select count(*) from emp
    </select>

    <!--员工添加-->
   <insert id="add">
       <!--mybatis添加返回主键id-->
        <selectKey keyProperty="empNo" order="BEFORE" resultType="int">
            select seq_emp_id.nextval from dual
        </selectKey>
        insert into emp(empno,ename) VALUES (#{empNo},#{ename})
   </insert>
</mapper>